
#image{
	top:85px;
	position: absolute;
	left: 1650px;
	z-index: -100
}




#box{
	width: 1350px;
	height: 650px;
	background-color: black;
	position: absolute;
	top:0px;
	left: 0px;
	z-index:0;
	opacity:
	
	
}

#box2{
	width:10px;
	height: 10px;
	position: absolute;
	top:0px;
	left:7550px;
	background-color: white;
}



#arrow{
	position: absolute;
	top: 600px;
	left:1310px;
	z-index: 10;
	
}



#text1{
	position: absolute;
	left: 614px;
	top:149px;
	font-size: 15pt;
	font-family: courier;
	color:white;
	width: 150px;
	height: 20px;
	
}

#text2{
	position: absolute;
	left: 598px;
	top:470px;
	font-size: 13pt;
	font-family: courier;
	color:white;
	width: 170;
	height: 20;
	
}

#text3{
	position: absolute;
	left: 568px;
	top:205px;
	font-size: 10pt;
	font-family: courier;
	color:white;
	width: 230;
	height: 279;
	z-index: -1;
	color: white;
	font-weight: thin;
	line-height:1.4;
}











/* entire container, keeps perspective */
.flip-container {
	perspective: 1000;
}
	/* flip the pane when hoveblack */
	.flip-container:hover .flipper, .flip-container.hover .flipper {
		transform: rotateY(180deg);
	}

.flip-container, .front, .back {
	width: 253px;
	height: 279px;
	position: absolute;
	
	top:183px;
	left:553px;
	

}

/* flip speed goes here */
.flipper {
	transition: 2s;
	transform-style: preserve-3d;

	position: absolute;
}

/* hide back of pane during swap */
.front, .back {
	backface-visibility: visible;

	
	top:0;
	left: 0;

}

/* front pane, placed above back */
.front {
	z-index: 0;
	/* for firefox 31 */
	transform: rotateY(0deg);
}

.d{
	font-size:15pt;
	font-family:courier;
	color:black;
	position: absolute;
	top: 88px;
	left: 1798px;
	height:450px;
	
}

.r{
	font-size:15pt;
	font-family:courier;
	color:black;
	position: absolute;
	top: 96px;
	left: 1812px;
	height:450px;

}

.u{
	font-size:15pt;
	font-family:courier;
	color:black;
	position: absolute;
	top: 110px;
	left: 1825px;
	height:450px;
}

.n{
	font-size:15pt;
	font-family:courier;
	color:black;
	position: absolute;
	top: 114px;
	left: 1844px;
	height:450px;
	
}

.k{
	font-size:15pt;
	font-family:courier;
	color:black;
	position: absolute;
	top: 122px;
	left: 1860px;
	height:450px;
}









.f1{
	font-size:15pt;
	font-family:courier;
	color:black;
	position:absolute;
	top:189px;
	left:1935px;
	color: black;
}


.f2{
	font-size:15pt;
	font-family:courier;
	color:black;
	position: absolute;
	top:270px;
	left:2080px;
}
.f3{
	font-size:15pt;
	font-family:courier;
	color:black;
	float: left;
	position: absolute;
	top:390px;
	left:2048px;
	
}
.f4{
	font-size:15pt;
	font-family:courier;
	color:black;
	float: left;
	position: absolute;
	top:470px;
	left:1893px;
}
.f5{
	font-size:15pt;
	font-family:courier;
	color:black;
	float: left;
	position: absolute;
	top:380px;
	left:1899px;
}
.f6{
	font-size:15pt;
	font-family:courier;
	color:black;
	float: left;
	position: absolute;
	position: absolute;
	top:550px;
	left:2033px
}

.fif1{
	font-size:15pt;
	font-family:courier;
	color:black;
	float: left;
	position: absolute;
	top:189px;
	left:2945px

}

.fif2{
	font-size:15pt;
	font-family:courier;
	color:black;
	float: left;
	position: absolute;
	top:294px;
	left:2918px

}

.fif3{
	font-size:15pt;
	font-family:courier;
	color:black;
	float: left;
	position: absolute;
	top:399px;
	left:2848px

}

.fif4{
	font-size:15pt;
	font-family:courier;
	color:black;
	float: left;
	position: absolute;
	top:504px;
	left:2747px

}
.fif5{
	font-size:15pt;
	font-family:courier;
	color:black;
	float: left;
	position: absolute;
	top:188px;
	left:3089px

}
.fif6{
	font-size:15pt;
	font-family:courier;
	color:black;
	float: left;
	position: absolute;
	top:551px;
	left:2652px

}
.fif7{
	font-size:15pt;
	font-family:courier;
	color:black;
	float: left;
	position: absolute;
	top:242px;
	left:3028px

}

.fif8{
	font-size:15pt;
	font-family:courier;
	color:black;
	float: left;
	position: absolute;
	top:136px;
	left:3223px

}
.fif9{
	font-size:15pt;
	font-family:courier;
	color:black;
	float: left;
	position: absolute;
	top:452px;
	left:2733px

}
.fif10{
	font-size:15pt;
	font-family:courier;
	color:black;
	float: left;
	position: absolute;
	top:346px;
	left:2952px

}

.seventeen{
	font-size:15pt;
	font-family:courier;
	color:black;
	float: left;
	position: absolute;
	top: 585px;
	left:2890px;
}
